.kit {
    margin-top: 26rem;
    color: var(--text-title);
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-image: url("../assets/blur-3.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    

    & #shine {
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
            font: var(--title-sm);
        }

        img {
            width: 6rem;
            position: relative;
        }
    }

    & p {
        font: var(--body-md);
        margin-top: 0rem;
    }

    & .book {
        margin-top: 11rem;
        position: relative;
        max-width: 30rem;
        width: 100%;
        height: 38rem;
        display: block;
        background-image: url("../assets/book-kit/book.png");
        background-size: contain;
        

        & span {
            font: var(--body-md);
        }
    
        & #pin {
            max-width: 13rem;
            rotate: -12deg;
            position: absolute;
            z-index: -1;
            left: -25%;
            bottom: -15%;

            transform: translate(100%, -10%);
            transition: all 1.6s ease;
        }

        & #pin-arrow {
            position: absolute;
            left: -35%;
            bottom: 22%;
            z-index: -1;

            transform: translate(200%, -10%);
            transition: all 1.6s ease;
        }
    
        & #pin-text {
            position: absolute;
            left: -40%;
            bottom: 45%;
            z-index: -1;

            transform: translate(200%, -10%);
            transition: all 1.6s ease;
        }

        & #text {
            position: absolute;
            z-index: -1;
            left: -40%;
            top: -10%;

            transform: translate(180%, 600%);
            transition: all 1.6s ease;
        }

        & #text-arrow {
            position: absolute;
            z-index: -1;
            left: -28%;
            top: -4%;

            transform: translate(120%, 300%);
            transition: all 1.6s ease;
        }

        & #marker-1 {
            max-width: 12rem;
            rotate: 8deg;
            position: absolute;
            z-index: -1;
            right: -25%;
            top: -15%;

            transform: translate(-80%, 30%);
            transition: all 1.6s ease;
        }

        & #marker-2 {
            max-width: 12rem;
            rotate: 15deg;
            position: absolute;
            z-index: -2;
            right: -50%;
            top: 3%;

            transform: translate(-160%, 20%);
            transition: all 1.6s ease;
        }

        & #marker-arrow {
            position: absolute;
            z-index: -1;
            right: -45%;
            bottom: -10%;

            transform: translate(-160%, -70%);
            transition: all 1.6s ease;
        }

        & #marker-text {
            position: absolute;
            z-index: -1;
            right: -35%;
            bottom: -16%;

            transform: translate(-130%, -600%);
            transition: all 1.6s ease;
        }

        &:hover #pin-text, &:hover #pin, &:hover #pin-arrow, &:hover #text, &:hover #text-arrow, &:hover #marker-1, &:hover #marker-2, &:hover #marker-arrow, &:hover #marker-text{
            transform: translate(0, 0);
        }
    }
}


