.phrase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 14rem;
    margin-inline: auto;
    max-width: 75rem;
    width: 100%;
    position: relative;
    opacity: 0.4;
    transition: opacity 1s ease;

    & span {
        color: var(--text-body);
    }

    & p {
        color: var(--text-body);
        font: var(--subtitle);
        display: inline;

        & span {
            font-weight: 600;
        }
    }

    & img {
        display: block;
        height: 88px;
        position: absolute;
        opacity: 0;
        transition: opacity 1s ease;
    }

    & img[src*=book] {
        left: 45%;
        top: -5rem;
        rotate: 30deg;
        scale: .8;
    }

    & img[src*=ouija] {
        left: 3%;
        rotate: 100deg;
        scale: .8;
        transition-delay: .5s;
    }

    & img[src*=ball] {
        left: 90%;
        rotate: -30deg;
        scale: .8;
        transition-delay: 1s;
    }

    & img[src*=book]:hover {
        rotate: 40deg;
        scale: 1;
    }

    & img[src*=ouija]:hover {
        rotate: 110deg;
        scale: 1;
    }

    & img[src*=ball]:hover {
        rotate: -20deg;
        scale: 1;
    }
}


.phrase:hover {
    opacity: 1;

    & span {
        color: var(--blue-light);
    }

    & img {
        opacity: 1;
    }
}

    


   