.phrase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 14rem;
    margin-inline: auto;
    max-width: 75rem;
    width: 100%;
    position: relative;

    & p {
        color: var(--text-body);
        font: var(--subtitle);
        display: inline;
        animation: fontWeight 6s forwards;

        & span {
            animation: colorChange 6s forwards;
        }
    }

    #p1 {
        animation: fadeIn 1s forwards;
        opacity: .2;
    }

    #p2 {
        animation: fadeIn 1s forwards 1s;
        opacity: .2;
    }

    #p3 {
        animation: fadeIn 1s forwards 2s;
        opacity: .2;
    }

    & img {
        display: block;
        height: 88px;
        position: absolute;
    }

    & img[src*=book] {
        left: 45%;
        top: -5rem;
        rotate: 30deg;
        scale: .8;
        animation: fadeIn 1s forwards;
        opacity: 0;
    }

    & img[src*=ouija] {
        left: 3%;
        rotate: 100deg;
        scale: .8;
        animation: fadeIn 1s forwards 1s;
        opacity: 0;
    }

    & img[src*=ball] {
        left: 90%;
        rotate: -30deg;
        scale: .8;
        animation: fadeIn 1s forwards 2s;
        opacity: 0;
    }

    & img[src*=book]:hover {
        rotate: 40deg;
        scale: 1;
    }

    & img[src*=ouija]:hover {
        rotate: 110deg;
        scale: 1;
    }

    & img[src*=ball]:hover {
        rotate: -20deg;
        scale: 1;
    }
}


@keyframes fontWeight {
    0% {
        font-weight: 300;
    }

    100% {
        font-weight: 500;
    }
}

@keyframes colorChange {
    0% {
        color: var(--text-body);
    }
    100% {
        color: var(--blue-light);
    }
}