.pricing {
    background-image: 
        url("../assets/pricing-background.png"),
        url("../assets/pricing-blur.png");
    background-size: cover;
    width: 100%;
    height: 78rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
    & #cards {
        display: flex;
        gap: 2rem;
        position: relative;
        transition: box-shadow 1s ease;
    }

    & #signature {
        font: var(--title-sm);
        color: var(--text-title);
        width: 100%;
        max-width: 22rem;
    }

    & .card {
        background-color: var(--shape-base);
        padding: 2rem;
        border-radius: 1.5rem;
        border: solid 1px var(--shape-stroke);
        position: relative;
        text-align: left;
        height: 26rem;
        margin-top: 8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 0;

        & #star-1 {
            position: absolute;
            top: -11%;
            left: -9%;
        }

        & #star-2 {
            position: absolute;
            top: -2%;
            left: -16%;
            scale: .6;
        }

        & #star-3 {
            position: absolute;
            bottom: -8%;
            right: -18%;
        }

        & #star-4 {
            position: absolute;
            bottom: -12%;
            right: -5%;
            scale: .6;
        }

        & #bunny {
            position: absolute;
            top: -12.5%;
            left: 10%;
        }

        & h4 {
            font: var(--title-xs);
            color: var(--blue-light);
        }

        & .price {
            margin-top: 1.5rem;
            display: flex;
            align-items: end;
            
            & h3 {
                font: var(--title-md);
                color: var(--text-title);
            }

            & span {
                font: var(--title-xs);
                color: var(--text-title);
            }
        }

        & p {
            font: var(--body-sm);
            color: var(--text-label);
            margin-top: .5rem;
        }

        & ul {
            list-style-type: none;
            font: var(--body-xs);
            color: var(--text-body);
            
            & li + li {
                margin-top: .75rem;
            }

            & li {
                background: url("../assets/icons/bluestar.png") no-repeat left center;
                background-size: 1rem;
                padding-left: 1.6rem;
            }
        }

        & .bottom {
            display: flex;
            flex-direction: column;

            & .btn-primary, & .btn-secondary {
                text-align: center;
                margin-top: 1.5rem
            }
        }
    }

    & .card.bright {
        background-color: var(--shape-hover);
        z-index: 1;

        & #card-title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & h4 {
                color: var(--pink-light);
            }

            & #tag {
                background-color: var(--shape-stroke);
                padding: .6rem 1.25rem;
                font: var(--font-tag);
                text-transform: uppercase;
                color: var(--text-body);
                border-radius: 999px;
            }
        }

        & ul {
            & li {
                background: url("../assets/icons/pinkstar.png") no-repeat left center;
                background-size: 1rem;
                padding-left: 1.6rem;
            }
        }
    }

    & .month {
        position: absolute;
        right: 100%;
        top: 10%;
        width: 18rem;
        rotate: -8deg;
    }

    & .annual {
        position: absolute;
        left: 100%;
        top: 10%;
        width: 18rem;
        rotate: 8deg;
    }
}

#cards .month:hover {
    background-color: var(--shape-hover);
    box-shadow: 0 0 40px var(--shape-hover);
    top: 9%;

    & #star-1 {
        rotate: 15deg;
    }

    & #star-2 {
        rotate: -15deg;
    }
}

#cards .annual:hover {
    background-color: var(--shape-hover);
    box-shadow: 0 0 40px var(--shape-hover);
    top: 9%;

    & #star-3 {
        rotate: 15deg;
    }

    & #star-4 {
        rotate: -15deg;
    }
}

#cards .bright:hover {
    box-shadow: 0 0 40px var(--shape-hover);
    top: -1%;
}



